<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Akia just posted a new blog post!</h4>
    <p>
      Click the link below to check it out
    </p>
      <h4 class="btn btn-primary">
        <a href="https://akiascallum.herokuapp.com/blogs/#{blog.id}/" class="btn btn-primary">@blog.title</a>
      </h4>
  </body>
</html>