@import "bootstrap-sprockets";
@import "bootstrap";
$top-border-cl: #eaeaea;
$primary-bg: #000;
$secondary-cl: #fff;
$primary-cl: #d6d60c;
$opac: 0.75;

body {
  background: $primary-bg;
  color: $primary-cl;
}

.opac {
  opacity: $opac;
}
.navigation {
 // position:fixed;
  width:100%;
  background-color: $primary-bg;
  opacity: $opac;
  color: $primary-cl;
  border: 10px;
  height: 2.5em;
  
    a {
      color: $primary-cl;
      text-decoration: none;
    }

  .navli {
    display:inline;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align:middle;
    list-style:none;
    font-size:14px;
    border-bottom: 0px solid $primary-cl;
    line-height:2.2em;
  }

  .dropdown-menu {
      background-color:$primary-bg;

      a {
        color: $primary-cl;
        }

      a:hover {
        background-color:$primary-bg;
        color: $primary-cl;
        opacity: 0.8;
        }
    }

  li:hover {
      cursor: pointer;
    }
  
}

.frontimg {
  height:180px;
  width:225px;
}

.welcomeabout {
  letter-spacing:-0.4px;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: $primary-cl !important;
    /*background: rgba(0, 0, 0, 0.5) !important;*/
    border-radius:10px;
    color:black !important;
}

.btn-primary:hover {
  color:$primary-cl !important;
  background-color:$primary-bg !important;
}

.login-field {
  width: 20%;
}

.article-detail {
  color: $primary-bg; 
  background-color: $primary-cl;
  
  h1 {
    font-weight: 900;
  }
  
  h4 {
    font-weight: 900;
  }
  
//   .jumbotron {
//  //   background-image: asset-url('kiadesk.jpg');
//     height: 50em;
//   //  background-size: 100% 100%;
//   }
  .blog-body {
    background-color: $primary-cl
  }
  
  p {
    background-color: $primary-cl;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.5px;
  }
}



.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}





